# Dynamic configuration

http:
  routers:
    my-router:
      rule: Path(`/whoami`)
      service: service-whoami
      entryPoints:
        - http
      middlewares:
        - azad-jwt-validation

  services:
   service-whoami:
      loadBalancer:
        servers:
          - url: http://127.0.0.1:5000
  
  middlewares:
    azad-jwt-validation:
      plugin:
        dev:
          keysurl: "https://jwks.keys"
          issuer: "https://issuer.test"
          audience: 
            - "audience1,audience2"
          roles:
            - Test.Role.1
            - Test.Role.2
          matchallroles: true
          loglevel: "DEBUG"